<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <connectionStrings>
        <add name="ConnectionString" connectionString="server=localhost;Database=NorthWind;User Id=sa;Password=sa"/>
    </connectionStrings>
    <appSettings>
       <add key="TableName" value="abc"/>
    </appSettings>
</configuration>
